dist: xenial
language: python
matrix:
  include:
    - python: "3.6"
    - python: "3.7"
    - python: "3.6-dev"
    - python: "3.7-dev"
    - python: "3.8-dev"
  allow_failures:
    - python: "3.6-dev"
    - python: "3.7-dev"
    - python: "3.8-dev"
install:
    - pip install .
script:
    - python setup.py test
addons:
    chrome: stable
sudo: required
after_success:
  - bash <(curl -s https://codecov.io/bash)
